<header class="header">
        <div class="logo">
            <a href="https://www.scnsoft.com/services/security/siem" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="app-title flex-fill">QVTI VirusTotal Integration</div>
        <div class="cog btn dropdown-settings" id="dropdownSettings" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="true"></div>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSettings">
            <a class="dropdown-item" href="get_logs">Get Logs</a>
        </div>
</header>