<div class="card mb-0">
    <div class="card-header" id="sslErrorHeader" data-toggle="collapse" data-target="#sslErrorContent"
         aria-controls="sslErrorContent" aria-expanded="true" >
            <a class="card-title">
                SSL Error
            </a>
    </div>
    <div class="collapse show" id="sslErrorContent" aria-labelledby="sslErrorHeader">
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                SSL Verification Failed!<br>
                Please check you have all your intermediate (if any) and signing certificates correctly added to QRadar.
            </div>
        </div>
    </div>
</div>